<a href="https://www.bigdatauniversity.com"><img src = "https://ibm.box.com/shared/static/jvcqp2iy2jlx2b32rmzdt0tx8lvxgzkp.png" width = 300, align = "center"></a>
# Data Analysis with Python I

<hr>

### Table of Contents 
[**Numpy Lib**](#Numpy-Lib)   
[**Pandas Lib**](#Pandas-Lib)  
[**CO2 emissions by Country by Year**](#CO2-emissions-by-Country-by-Year)  
[**Get the Data**](#Get-the-Data)  
[**Import the data using Pandas**](#Import-the-data-using-Pandas)  
[**Dataframe characteristics **](#Dataframe-characteristics)  
[**Subsetting the Dataframe**](#Subsetting-the-Dataframe)  
[**Conditional Subsetting**](#Conditional-Subsetting)

<hr>

<h1, align="center">NumPy Lib</h1>
__NumPy__: 
- Fast
- Multidimensional Arrays 
- Vectorized Computation

### NumPy ndarray
N-dimensional array object.  
To perform mathematical operations on whole blocks of data.

In [1]:
# to insert a library (a file consisting of Python code) use "import"
import numpy as np

#### Creating ndarrays
- Use the __array__ function.  
- All of the elements must be the __same type__ (homogeneous)

In [2]:
data = np.array([[ 1.9526, -0.246 , -0.8856],
[ 0.5639, 0.2379, 0.9104]])
data

array([[ 1.9526, -0.246 , -0.8856],
       [ 0.5639,  0.2379,  0.9104]])

Every array has __number of dimensions__ and __shape__ (a tuple indicating the size of each dimension)

In [3]:
data.ndim

2

In [4]:
data.shape

(2, 3)

__dtype:__ an object describing the data type of the array:

In [5]:
data.dtype

dtype('float64')

__empty__, __range__ , __zeros__ and **ones** arrays

In [6]:
data1 = np.empty((3,2))
data1

array([[ 1.9526,  0.246 ],
       [ 0.8856,  0.5639],
       [ 0.2379,  0.9104]])

In [7]:
data0 = np.zeros(10)
data0

array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.])

In [8]:
data3 = np.arange(10)
data3

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

### <span style="color: red">YOUR TURN:</span> 
create a 2x4 array of ones and find the data type and shape of the array

In [13]:
#You code

data2x4= np.array([[1,1,1,1],[1,1,1,1]])
print(data2x4)
print(data2x4.dtype)
print(data2x4.shape)

[[1 1 1 1]
 [1 1 1 1]]
int64
(2, 4)

#### Data Types

In [15]:
data = np.array([1.25, -9.6, 42], dtype=np.string_)
data

array([b'1.25', b'-9.6', b'42'],
      dtype='|S4')

cast to floating point

In [16]:
data.astype(np.float32) #this is casting old array into new data types

array([  1.25      ,  -9.60000038,  42.        ], dtype=float32)

### Operations

In [18]:
arr = np.array([[1., 2., 3.], [4., 5., 6.]])
arr

array([[ 1.,  2.,  3.],
       [ 4.,  5.,  6.]])

Arithmetic operations

In [19]:
arr*2

array([[  2.,   4.,   6.],
       [  8.,  10.,  12.]])

In [20]:
arr*arr

array([[  1.,   4.,   9.],
       [ 16.,  25.,  36.]])

### Indexing and Slicing
to select a subset of your data or individual elements

In [22]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

Same as Python lists:

In [23]:
arr[5]

5

In [25]:
arr[5:8]

array([5, 6, 7])

you assign a scalar value to a slice:

In [26]:
arr[5:8] = 12
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12,  8,  9])

In [ ]:
arr[5:]

in n-dimensional array, the elements at each index are no longer scalars but rather one-dimensional arrays

In [27]:
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [29]:
arr2d[2]

array([7, 8, 9])

In [30]:
arr2d[0][2]   # also: arr2d[0, 2]

3

In [31]:
arr2d[2:]

array([[7, 8, 9]])

sliced along axis 0, the first axis  
e.g. The first two rows, and the last two columns

In [42]:
arr2d[:3, 1]

array([2, 5, 8])

### Boolean Indexing

In [43]:
data = np.random.rand(7,4)
data

array([[ 0.7237165 ,  0.47356256,  0.83670582,  0.4932561 ],
       [ 0.13016602,  0.65359208,  0.16800025,  0.88494227],
       [ 0.18893947,  0.43851666,  0.16913188,  0.04401804],
       [ 0.91843808,  0.61281645,  0.74275246,  0.26576825],
       [ 0.24806737,  0.88007237,  0.08016854,  0.64481533],
       [ 0.32024567,  0.33804403,  0.83857029,  0.48108211],
       [ 0.25347398,  0.41868508,  0.89839544,  0.28907641]])

In [44]:
data > 0.4    # Comparison Operators: ==, !=, &, |

array([[ True,  True,  True,  True],
       [False,  True, False,  True],
       [False,  True, False, False],
       [ True,  True,  True, False],
       [False,  True, False,  True],
       [False, False,  True,  True],
       [False,  True,  True, False]], dtype=bool)

In [45]:
data[(data>0.4)]

array([ 0.7237165 ,  0.47356256,  0.83670582,  0.4932561 ,  0.65359208,
        0.88494227,  0.43851666,  0.91843808,  0.61281645,  0.74275246,
        0.88007237,  0.64481533,  0.83857029,  0.48108211,  0.41868508,
        0.89839544])

### Functions

In [46]:
arr = np.arange(5)
np.sqrt(arr)   #squar root function

array([ 0.        ,  1.        ,  1.41421356,  1.73205081,  2.        ])

In [47]:
np.exp(arr)   #exponentiation function

array([  1.        ,   2.71828183,   7.3890561 ,  20.08553692,  54.59815003])

In [48]:
np.mean(arr) #average function

2.0

### <span style="color: red">YOUR TURN:</span>

Create a 3x2 numpy array (use __ones__ function), and select its second row

In [56]:
## YOUR CODE BELOW

my_array = np.ones([3,2])
print(my_array)
my_array[1]

[[ 1.  1.]
 [ 1.  1.]
 [ 1.  1.]]

array([ 1.,  1.])

<h1, align="center">Pandas Lib</h1>

Pandas
- for most kinds of data analysis
- for structured or tabular data
- high-level data structure
- built on top of NumPy  
- time series manipulation


Objects:  
- Series  
- DataFrame

First, import the Pandas package

In [57]:
import pandas as pd

#### Series

A Series is a one-dimensional array-like object containing an array of data (of any NumPy data type) and an associated array of data labels, called its index.

In [58]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [59]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    4
dtype: int64

In [64]:
print('b' in obj2)

print(obj2 ==-5)

# like a mask
obj2[obj2 ==-5]

True
d    False
b    False
a     True
c    False
dtype: bool

a   -5
dtype: int64

# DataFrame
- represents a tabular, spreadsheet-like data structure 
- ceach columns can be a different value type (numeric, string, boolean, etc.)
- has both a row and column index

## CO2 emissions by Country by Year

Carbon dioxide emissions are those stemming from the burning of fossil fuels and the manufacture of cement. They include carbon dioxide produced during consumption of solid, liquid, and gas fuels and gas flaring.

http://data.worldbank.org/indicator/EN.ATM.CO2E.PC/

## Get the Data

(Optional:) Data can be downloaded from The World Bank [here](http://data.worldbank.org/indicator/EN.ATM.CO2E.PC/) or from Box [here](https://ibm.box.com/shared/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv)

#### Here, we will use the bash command, `wget`, to fetch the csv file from a direct link

In [65]:
!wget --output-document co2emissions.csv https://ibm.box.com/shared/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv

--2018-03-09 15:36:41--  https://ibm.box.com/shared/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.27.197
Connecting to ibm.box.com (ibm.box.com)|107.152.27.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/shared/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv [following]
--2018-03-09 15:36:42--  https://ibm.ent.box.com/shared/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.27.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.27.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/XwYvYAwqzXjNeXCyLrX6eHIAizKY36qKPxX5vFD8Qec_SHSIdNIsCk4XAiy-3vsLxHEzQrt17FRfPUL4H1ygM3EhaMAnKrqf4rm4RW3esqGnmkT7PuEyVBPeEsqWNTWVR0k0c8WtMYIjLcLHFjIEtb86id-k21jmmRixPeirrjwPF9rZE_sdjDdRYASfuRM1_YWKDiKYjnr-j1uxGTY3OjjrpMZrSrKR5FqyNu-Ky2GmaxoEUungAEALXGVtYEJ5YhMRQjVr_diHu0ogqJuNxGNV46htC01QxV3sS_GtBINZrKret8hh7jfZyaPoCPRs1L1yEXSxR698I2D1nlRQWImMUouXVRENSQc3p0NznsCtDbj46DPqxgaKI07Ekn5G5lg9KBgr8KDTZJu15TrZfLIhJSUAppVkP1D19FsRYD3Z_TrUCmffSX2jNnSTyo7VugJ7fVhsX1gq-fpkdUoo4Wy1-QfU47LnF9wlWocs3T4NDLL1lJ-DvQno-GRM1LOqmOdfKYANjMsexdHVuPB0rSC-qr0rmhbdyyzg-ebvJd_MRHUGH7h0cEnRZSoC2qOMua29OytEIT-632FSYnB_gSP7OqjsAuyqcZSA-0LMidtY0zP9_HutWgdYfhlfK8p1tcptVFv1UzsCYOwzcaOwfBjeLNnNg76r_gpL2Yl6i5sK8FmaVuKGm3QKqLgSaNS1X7_cLr5sJrkJ6U3qoH8WkuHD1VVP3UL7L7E5XcyQmwV0GaIq5kEkoKEo9LEnXp80EXO9L_AeQuqSxKg3o0nljBFxkhkF038wzHS98SYSZWYvvYahm-tVzQJl8ZpoBt4CO0wmkg4GX79gWAPbH9NkjejfzBkod9wNMjMTgPGC-_Dd2eA64dmYRRyqrs9AO50W3oHXy7aFmfZG6CE0lefTUXVF6RiKuE_J7oVtQNOYPNH2fFluSOUGO6nmpIfPXGpBhvw3WJeBYBh7KQ5ysEQewXGhZwFRYuG0SXrXkNQonZ7_XW5nl3UXZAXrn16u5fiwfy9ZMyaglD8iB1XvwjPvsTk9mxgjkUCvMhkw5v80u_bi5JySUSAncLp__25VENcJ998IbdLbCQP7dsA-6LKeJpwSKHwLNFWlo8WdXgyhQkeHNa7u3UurxbdWDELuEVorJChXsCHXwDxBjKoNaVAWHWlC7wIIgdTuFts-2BQftPWRERJCdd2p2xELZv1-5yVhXQ1QnoaW4xXaKtWmYC-PlV-j5xwW-kx-bbM8oqPEFts7Wkg0vRZ4qOwzXbXU7Bi3_Nr3tD4nGIZpEAlojn8inMIP4yNJ1y5yaSDw2mudiRKPxdKO7h7Gp3idbeOR9IPdkCBLl02o3e3FXujPO8S0bg3Xj59XMpDXOAdHtLqmlsQU0BAKJlRxWM_0hWU./download [following]
--2018-03-09 15:36:43--  https://public.boxcloud.com/d/1/XwYvYAwqzXjNeXCyLrX6eHIAizKY36qKPxX5vFD8Qec_SHSIdNIsCk4XAiy-3vsLxHEzQrt17FRfPUL4H1ygM3EhaMAnKrqf4rm4RW3esqGnmkT7PuEyVBPeEsqWNTWVR0k0c8WtMYIjLcLHFjIEtb86id-k21jmmRixPeirrjwPF9rZE_sdjDdRYASfuRM1_YWKDiKYjnr-j1uxGTY3OjjrpMZrSrKR5FqyNu-Ky2GmaxoEUungAEALXGVtYEJ5YhMRQjVr_diHu0ogqJuNxGNV46htC01QxV3sS_GtBINZrKret8hh7jfZyaPoCPRs1L1yEXSxR698I2D1nlRQWImMUouXVRENSQc3p0NznsCtDbj46DPqxgaKI07Ekn5G5lg9KBgr8KDTZJu15TrZfLIhJSUAppVkP1D19FsRYD3Z_TrUCmffSX2jNnSTyo7VugJ7fVhsX1gq-fpkdUoo4Wy1-QfU47LnF9wlWocs3T4NDLL1lJ-DvQno-GRM1LOqmOdfKYANjMsexdHVuPB0rSC-qr0rmhbdyyzg-ebvJd_MRHUGH7h0cEnRZSoC2qOMua29OytEIT-632FSYnB_gSP7OqjsAuyqcZSA-0LMidtY0zP9_HutWgdYfhlfK8p1tcptVFv1UzsCYOwzcaOwfBjeLNnNg76r_gpL2Yl6i5sK8FmaVuKGm3QKqLgSaNS1X7_cLr5sJrkJ6U3qoH8WkuHD1VVP3UL7L7E5XcyQmwV0GaIq5kEkoKEo9LEnXp80EXO9L_AeQuqSxKg3o0nljBFxkhkF038wzHS98SYSZWYvvYahm-tVzQJl8ZpoBt4CO0wmkg4GX79gWAPbH9NkjejfzBkod9wNMjMTgPGC-_Dd2eA64dmYRRyqrs9AO50W3oHXy7aFmfZG6CE0lefTUXVF6RiKuE_J7oVtQNOYPNH2fFluSOUGO6nmpIfPXGpBhvw3WJeBYBh7KQ5ysEQewXGhZwFRYuG0SXrXkNQonZ7_XW5nl3UXZAXrn16u5fiwfy9ZMyaglD8iB1XvwjPvsTk9mxgjkUCvMhkw5v80u_bi5JySUSAncLp__25VENcJ998IbdLbCQP7dsA-6LKeJpwSKHwLNFWlo8WdXgyhQkeHNa7u3UurxbdWDELuEVorJChXsCHXwDxBjKoNaVAWHWlC7wIIgdTuFts-2BQftPWRERJCdd2p2xELZv1-5yVhXQ1QnoaW4xXaKtWmYC-PlV-j5xwW-kx-bbM8oqPEFts7Wkg0vRZ4qOwzXbXU7Bi3_Nr3tD4nGIZpEAlojn8inMIP4yNJ1y5yaSDw2mudiRKPxdKO7h7Gp3idbeOR9IPdkCBLl02o3e3FXujPO8S0bg3Xj59XMpDXOAdHtLqmlsQU0BAKJlRxWM_0hWU./download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.27.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.27.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 237281 (232K) [text/csv]
Saving to: ‘co2emissions.csv’

100%[======================================>] 237,281      935KB/s   in 0.2s

2018-03-09 15:36:44 (935 KB/s) - ‘co2emissions.csv’ saved [237281/237281]

<hr>

<h2, align=center>Import the data using Pandas</h2>

#### Import required `pandas` library

In [67]:
import pandas as pd

#### Import data using `pd.read_csv`

In [68]:
data = pd.read_csv("co2emissions.csv", skiprows = 4)

In [70]:
type(data) #Checks the type of object

pandas.core.frame.DataFrame

In [71]:
data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.350868,6.296125,6.049173,6.124770,5.968685,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,...,0.088141,0.158962,0.249074,0.302936,0.425262,NaN,NaN,NaN,NaN,NaN
3,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,...,1.311096,1.369425,1.430873,1.401654,1.354008,NaN,NaN,NaN,NaN,NaN
4,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,1.507536,1.580113,1.533178,1.515632,1.607038,NaN,NaN,NaN,NaN,NaN
5,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.643964,0.685501,0.761148,0.875124,0.999248,1.166075,...,4.181153,4.373573,4.575251,4.764912,4.724500,NaN,NaN,NaN,NaN,NaN
6,United Arab Emirates,ARE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.118786,0.108937,0.163355,0.175712,0.132651,0.146370,...,23.195067,23.033600,21.102296,20.120957,20.433838,NaN,NaN,NaN,NaN,NaN
7,Argentina,ARG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.367473,2.442616,2.522392,2.316356,2.538380,2.641714,...,4.496834,4.744178,4.427960,4.342272,4.562049,NaN,NaN,NaN,NaN,NaN
8,Armenia,ARM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,1.694755,1.868611,1.469961,1.422998,1.671657,NaN,NaN,NaN,NaN,NaN
9,American Samoa,ASM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,ATG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.670617,0.860441,1.823374,1.470175,1.567094,2.520359,...,5.561525,5.628319,5.906292,6.011269,5.823804,NaN,NaN,NaN,NaN,NaN
11,Australia,AUS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,8.582937,8.641569,8.835688,9.226440,9.759073,10.622321,...,17.467002,17.704080,17.631833,16.710904,16.519210,NaN,NaN,NaN,NaN,NaN
12,Austria,AUT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.373319,4.496362,4.755362,5.155194,5.391004,5.252197,...,8.405093,8.262046,7.608851,8.127693,7.769983,NaN,NaN,NaN,NaN,NaN
13,Azerbaijan,AZE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,3.555340,4.051383,3.565668,3.388226,3.647379,NaN,NaN,NaN,NaN,NaN
14,Burundi,BDI,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.015203,0.016155,0.015827,0.011910,...,0.021964,0.021615,0.020868,0.020542,0.021350,NaN,NaN,NaN,NaN,NaN
15,Belgium,BEL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,9.941594,10.103872,10.641190,11.386929,11.053655,11.141656,...,9.713718,9.699599,9.634776,9.989976,8.849398,NaN,NaN,NaN,NaN,NaN
16,Benin,BEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.066354,0.052046,0.054202,0.047580,0.055295,0.057115,...,0.516299,0.500183,0.514278,0.541771,0.509962,NaN,NaN,NaN,NaN,NaN
17,Burkina Faso,BFA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.009112,0.018730,0.017003,0.017504,0.021575,0.019841,...,0.115429,0.115427,0.109774,0.107673,0.119981,NaN,NaN,NaN,NaN,NaN
18,Bangladesh,BGD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.319840,0.334440,0.352155,0.370360,0.372017,NaN,NaN,NaN,NaN,NaN
19,Bulgaria,BGR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.833901,3.269920,3.835892,4.259781,5.262988,5.645652,...,6.916687,6.778939,5.729716,5.966884,6.714383,NaN,NaN,NaN,NaN,NaN
20,Bahrain,BHR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.542864,10.547396,9.193609,6.714156,8.747480,6.557022,...,21.443296,21.519995,18.136234,18.435025,17.947330,NaN,NaN,NaN,NaN,NaN
21,"Bahamas, The",BHS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.749831,4.746699,5.996432,5.558199,8.118597,9.399946,...,4.521354,2.998089,4.630520,6.829321,5.199844,NaN,NaN,NaN,NaN,NaN
22,Bosnia and Herzegovina,BIH,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,4.580387,5.231547,5.371890,5.513994,6.196652,NaN,NaN,NaN,NaN,NaN
23,Belarus,BLR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.305629,6.592749,6.341939,6.556550,6.682510,NaN,NaN,NaN,NaN,NaN
24,Belize,BLZ,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.477951,0.387219,0.715409,0.622357,0.818289,0.794763,...,1.536094,1.473196,1.495185,1.721709,1.670904,NaN,NaN,NaN,NaN,NaN
25,Bermuda,BMU,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.551374,3.868484,3.383712,3.151929,4.124438,3.586487,...,7.968299,5.955020,7.095329,7.320036,6.077210,NaN,NaN,NaN,NaN,NaN
26,Bolivia,BOL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.272038,0.276621,0.286626,0.310159,0.371216,0.371151,...,1.318204,1.412189,1.459841,1.547659,1.599499,NaN,NaN,NaN,NaN,NaN
27,Brazil,BRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.647068,0.658625,0.697281,0.700749,0.694001,0.670372,...,1.884034,1.990429,1.866522,2.113415,2.191394,NaN,NaN,NaN,NaN,NaN
28,Barbados,BRB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.746313,0.838899,1.119411,0.816330,0.766085,0.872454,...,5.178741,5.871114,5.833678,5.430338,5.580178,NaN,NaN,NaN,NaN,NaN
29,Brunei Darussalam,BRN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.078179,3.552009,4.133422,3.798174,3.482289,3.254787,...,24.178409,26.338271,22.149029,21.873222,24.392013,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,Thailand,THA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135586,0.146944,0.173130,0.185877,0.242240,0.234151,...,3.994687,3.984060,4.198512,4.470426,4.534492,NaN,NaN,NaN,NaN,NaN
220,Tajikistan,TJK,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.463345,0.409462,0.382775,0.373873,0.358948,NaN,NaN,NaN,NaN,NaN
221,Turkmenistan,TKM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,11.535622,11.557572,10.110661,11.358111,12.183667,NaN,NaN,NaN,NaN,NaN
222,Timor-Leste,TLS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.180962,0.185017,0.174891,0.171932,0.163648,NaN,NaN,NaN,NaN,NaN
223,Tonga,TON,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.178588,0.172592,0.166040,0.159435,0.153309,0.147936,...,1.112637,1.176967,1.276514,1.128883,0.983562,NaN,NaN,NaN,NaN,NaN
224,Trinidad and Tobago,TTO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.042576,5.318141,8.225570,1.466683,4.201774,5.694904,...,36.816763,35.455298,36.569448,38.337841,37.140054,NaN,NaN,NaN,NaN,NaN
225,Tunisia,TUN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.409211,0.413220,0.412987,0.438885,0.608626,0.532230,...,2.357974,2.403508,2.374157,2.535619,2.402456,NaN,NaN,NaN,NaN,NaN
226,Turkey,TUR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.610473,0.615079,0.748241,0.765934,0.869390,0.883506,...,4.094889,4.055397,3.898959,4.121155,4.383105,NaN,NaN,NaN,NaN,NaN
227,Tuvalu,TUV,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,"Taiwan, China",TWN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,Tanzania,TZA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.082261,0.067872,0.071734,0.072968,0.091197,0.099494,...,0.144041,0.147982,0.139973,0.150059,0.154935,NaN,NaN,NaN,NaN,NaN
230,Uganda,UGA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.062123,0.058093,0.059258,0.057791,0.063435,0.078242,...,0.104293,0.101919,0.105320,0.108297,0.110887,NaN,NaN,NaN,NaN,NaN
231,Ukraine,UKR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.910708,6.724046,5.647014,6.638152,6.262352,NaN,NaN,NaN,NaN,NaN
232,Upper middle income,UMC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.288256,1.057435,0.957318,0.955719,0.982914,1.036033,...,4.689606,4.838241,5.074839,5.359268,5.710659,NaN,NaN,NaN,NaN,NaN
233,Uruguay,URY,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.701583,1.602723,1.540657,1.639285,1.710101,2.049519,...,1.796306,2.471054,2.401221,1.912605,2.296201,NaN,NaN,NaN,NaN,NaN
234,United States,USA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,15.999779,15.681256,16.013937,16.482762,16.968119,17.451725,...,19.237460,18.489234,17.192379,17.484792,17.020216,NaN,NaN,NaN,NaN,NaN
235,Uzbekistan,UZB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,4.391447,4.434466,3.912053,3.693268,3.914921,NaN,NaN,NaN,NaN,NaN
236,St. Vincent and the Grenadines,VCT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135902,0.133923,0.132214,0.174273,0.215513,0.170614,...,2.084879,2.116255,2.114512,2.146877,2.179923,NaN,NaN,NaN,NaN,NaN
237,"Venezuela, RB",VEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.005107,6.136886,6.155057,6.155748,5.973226,6.187252,...,5.868518,6.604892,6.525293,6.811756,6.416334,NaN,NaN,NaN,NaN,NaN
238,Virgin Islands (U.S.),VIR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,Vietnam,VNM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.215631,0.225435,0.258760,0.247579,0.314058,0.343354,...,1.352791,1.497496,1.636371,1.761695,1.971889,NaN,NaN,NaN,NaN,NaN
240,Vanuatu,VUT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.594888,0.471728,0.864247,0.641714,...,0.433459,0.406839,0.508463,0.496591,0.591266,NaN,NaN,NaN,NaN,NaN
241,West Bank and Gaza,PSE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.665297,0.570947,0.564578,0.534015,0.572407,NaN,NaN,NaN,NaN,NaN
242,World,WLD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.096144,3.067062,3.138020,3.242364,3.358696,3.437595,...,4.686122,4.741826,4.663120,4.840436,4.944676,NaN,NaN,NaN,NaN,NaN
243,Samoa,WSM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135009,0.163529,0.158352,0.184019,0.208092,0.230869,...,1.026224,1.039490,1.072106,1.103871,1.252110,NaN,NaN,NaN,NaN,NaN
244,"Yemen, Rep.",YEM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.703403,0.507631,0.728004,0.537606,0.658012,0.699574,...,0.981422,0.989905,1.026251,1.090060,0.919968,NaN,NaN,NaN,NaN,NaN
245,South Africa,ZAF,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.629718,5.694383,5.729712,5.799844,6.170936,6.467359,...,9.063326,9.506481,9.545495,8.957154,9.257216,NaN,NaN,NaN,NaN,NaN
246,"Congo, Dem. Rep.",COD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.152228,0.150782,0.135559,0.139446,0.116926,0.142290,...,0.047312,0.048411,0.045604,0.049328,0.050303,NaN,NaN,NaN,NaN,NaN
247,Zambia,ZMB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,0.950434,1.100197,...,0.150265,0.164692,0.184058,0.192079,0.212450,NaN,NaN,NaN,NaN,NaN
248,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,1.045374,1.179176,...,0.731867,0.569255,0.600521,0.646073,0.691698,NaN,NaN,NaN,NaN,NaN

#### Display first 5 rows of `data` using `head`

In [72]:
data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.350868,6.296125,6.049173,6.124770,5.968685,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,...,0.088141,0.158962,0.249074,0.302936,0.425262,NaN,NaN,NaN,NaN,NaN
3,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,...,1.311096,1.369425,1.430873,1.401654,1.354008,NaN,NaN,NaN,NaN,NaN
4,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,1.507536,1.580113,1.533178,1.515632,1.607038,NaN,NaN,NaN,NaN,NaN

#### Take just the first two rows using `head`

In [73]:
data.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.350868,6.296125,6.049173,6.124770,5.968685,NaN,NaN,NaN,NaN,NaN

In [74]:
data.head(n=1)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN

### Don't remember what the parameters are for a function? Use `?`

In [78]:
#To close help window, press q
?data.head

#### Display last 7 rows of data

In [79]:
data.tail(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
246,"Congo, Dem. Rep.",COD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.152228,0.150782,0.135559,0.139446,0.116926,0.142290,...,0.047312,0.048411,0.045604,0.049328,0.050303,NaN,NaN,NaN,NaN,NaN
247,Zambia,ZMB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,0.950434,1.100197,...,0.150265,0.164692,0.184058,0.192079,0.212450,NaN,NaN,NaN,NaN,NaN
248,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,1.045374,1.179176,...,0.731867,0.569255,0.600521,0.646073,0.691698,NaN,NaN,NaN,NaN,NaN

<hr>

<h2, align=center>Dataframe characteristics</h2>

#### How many rows and columns are there?

In [80]:
data.shape #(rows, columns)

(249, 61)

In [81]:
data.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
count,180.000000,181.000000,182.000000,183.000000,188.000000,188.000000,188.000000,188.000000,187.000000,188.000000,...,232.000000,232.000000,232.000000,232.000000,232.000000,0.0,0.0,0.0,0.0,0.0
mean,2.147848,2.273331,2.382827,2.925962,3.076591,3.203665,3.216921,3.287063,3.515189,4.136080,...,5.023040,4.980116,4.755409,4.911618,4.884828,NaN,NaN,NaN,NaN,NaN
std,4.348322,4.542379,4.889944,8.741776,8.776709,8.964691,8.309355,7.504329,7.450713,10.208690,...,6.598310,6.328807,5.975440,6.100080,6.051724,NaN,NaN,NaN,NaN,NaN
min,0.008022,0.007897,0.008481,0.009390,0.011598,0.011910,0.013258,0.011800,0.015594,0.016116,...,0.021964,0.021615,0.020868,0.020542,0.021350,NaN,NaN,NaN,NaN,NaN
25%,0.176743,0.173541,0.196524,0.192676,0.213766,0.229534,0.231413,0.241491,0.269411,0.318197,...,0.765607,0.776208,0.793028,0.797337,0.829105,NaN,NaN,NaN,NaN,NaN
50%,0.606451,0.646400,0.657922,0.655980,0.726711,0.716547,0.760381,0.785352,0.884673,0.910402,...,2.893936,2.989729,2.958360,2.943880,3.045189,NaN,NaN,NaN,NaN,NaN
75%,1.960040,2.442616,2.674866,2.211640,2.404358,2.609091,3.256631,3.997464,4.279434,4.267795,...,7.219751,7.022516,6.522355,6.816148,6.711322,NaN,NaN,NaN,NaN,NaN
max,36.685183,36.583778,42.637118,99.575940,92.969565,85.563167,78.734608,77.629183,76.104350,99.840439,...,55.336800,48.601620,44.836401,42.639076,44.018926,NaN,NaN,NaN,NaN,NaN

#### What are the column names?

In [82]:
data.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', 'Unnamed: 60'],
      dtype='object')

#### What is the first column name?

In [83]:
data.columns[0]

'Country Name'

#### What is the first and second column name?

In [84]:
data.columns[[0,1]]

Index(['Country Name', 'Country Code'], dtype='object')

<hr>

## Review Questions

### <span style="color: red">YOUR TURN:</span>

#### Print the first 3 rows of `data`

In [87]:
## YOUR CODE BELOW
data.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.350868,6.296125,6.049173,6.124770,5.968685,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,...,0.088141,0.158962,0.249074,0.302936,0.425262,NaN,NaN,NaN,NaN,NaN

#### Print the names of the first and last column names

In [98]:
## YOUR CODE BELOW

# note : if you want to return several values you need to put a list into the [] block, ie [0] ok [[0,2,4]] ok
print(data.columns[[0, -1]])

Index(['Country Name', 'Unnamed: 60'], dtype='object')

<hr>

<h2, align=center>Subsetting the Dataframe</h2>

### Select columns

#### Select columns by name:

In [99]:
data['Country Name']

0                               Aruba
1                             Andorra
2                         Afghanistan
3                              Angola
4                             Albania
5                          Arab World
6                United Arab Emirates
7                           Argentina
8                             Armenia
9                      American Samoa
10                Antigua and Barbuda
11                          Australia
12                            Austria
13                         Azerbaijan
14                            Burundi
15                            Belgium
16                              Benin
17                       Burkina Faso
18                         Bangladesh
19                           Bulgaria
20                            Bahrain
21                       Bahamas, The
22             Bosnia and Herzegovina
23                            Belarus
24                             Belize
25                            Bermuda
26                            Bolivia
27                             Brazil
28                           Barbados
29                  Brunei Darussalam
                    ...
219                          Thailand
220                        Tajikistan
221                      Turkmenistan
222                       Timor-Leste
223                             Tonga
224               Trinidad and Tobago
225                           Tunisia
226                            Turkey
227                            Tuvalu
228                     Taiwan, China
229                          Tanzania
230                            Uganda
231                           Ukraine
232               Upper middle income
233                           Uruguay
234                     United States
235                        Uzbekistan
236    St. Vincent and the Grenadines
237                     Venezuela, RB
238             Virgin Islands (U.S.)
239                           Vietnam
240                           Vanuatu
241                West Bank and Gaza
242                             World
243                             Samoa
244                       Yemen, Rep.
245                      South Africa
246                  Congo, Dem. Rep.
247                            Zambia
248                          Zimbabwe
Name: Country Name, Length: 249, dtype: object

#### Select columns by column number:

In [100]:
data[data.columns[0]]

0                               Aruba
1                             Andorra
2                         Afghanistan
3                              Angola
4                             Albania
5                          Arab World
6                United Arab Emirates
7                           Argentina
8                             Armenia
9                      American Samoa
10                Antigua and Barbuda
11                          Australia
12                            Austria
13                         Azerbaijan
14                            Burundi
15                            Belgium
16                              Benin
17                       Burkina Faso
18                         Bangladesh
19                           Bulgaria
20                            Bahrain
21                       Bahamas, The
22             Bosnia and Herzegovina
23                            Belarus
24                             Belize
25                            Bermuda
26                            Bolivia
27                             Brazil
28                           Barbados
29                  Brunei Darussalam
                    ...
219                          Thailand
220                        Tajikistan
221                      Turkmenistan
222                       Timor-Leste
223                             Tonga
224               Trinidad and Tobago
225                           Tunisia
226                            Turkey
227                            Tuvalu
228                     Taiwan, China
229                          Tanzania
230                            Uganda
231                           Ukraine
232               Upper middle income
233                           Uruguay
234                     United States
235                        Uzbekistan
236    St. Vincent and the Grenadines
237                     Venezuela, RB
238             Virgin Islands (U.S.)
239                           Vietnam
240                           Vanuatu
241                West Bank and Gaza
242                             World
243                             Samoa
244                       Yemen, Rep.
245                      South Africa
246                  Congo, Dem. Rep.
247                            Zambia
248                          Zimbabwe
Name: Country Name, Length: 249, dtype: object

#### Select the last column:

In [101]:
data[data.columns[-1]]

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
       ..
219   NaN
220   NaN
221   NaN
222   NaN
223   NaN
224   NaN
225   NaN
226   NaN
227   NaN
228   NaN
229   NaN
230   NaN
231   NaN
232   NaN
233   NaN
234   NaN
235   NaN
236   NaN
237   NaN
238   NaN
239   NaN
240   NaN
241   NaN
242   NaN
243   NaN
244   NaN
245   NaN
246   NaN
247   NaN
248   NaN
Name: Unnamed: 60, Length: 249, dtype: float64

#### Subset Multiple Columns by Name

In [102]:
data[['Country Name', 'Country Code']]

                       Country Name Country Code
0                             Aruba          ABW
1                           Andorra          AND
2                       Afghanistan          AFG
3                            Angola          AGO
4                           Albania          ALB
5                        Arab World          ARB
6              United Arab Emirates          ARE
7                         Argentina          ARG
8                           Armenia          ARM
9                    American Samoa          ASM
10              Antigua and Barbuda          ATG
11                        Australia          AUS
12                          Austria          AUT
13                       Azerbaijan          AZE
14                          Burundi          BDI
15                          Belgium          BEL
16                            Benin          BEN
17                     Burkina Faso          BFA
18                       Bangladesh          BGD
19                         Bulgaria          BGR
20                          Bahrain          BHR
21                     Bahamas, The          BHS
22           Bosnia and Herzegovina          BIH
23                          Belarus          BLR
24                           Belize          BLZ
25                          Bermuda          BMU
26                          Bolivia          BOL
27                           Brazil          BRA
28                         Barbados          BRB
29                Brunei Darussalam          BRN
..                              ...          ...
219                        Thailand          THA
220                      Tajikistan          TJK
221                    Turkmenistan          TKM
222                     Timor-Leste          TLS
223                           Tonga          TON
224             Trinidad and Tobago          TTO
225                         Tunisia          TUN
226                          Turkey          TUR
227                          Tuvalu          TUV
228                   Taiwan, China          TWN
229                        Tanzania          TZA
230                          Uganda          UGA
231                         Ukraine          UKR
232             Upper middle income          UMC
233                         Uruguay          URY
234                   United States          USA
235                      Uzbekistan          UZB
236  St. Vincent and the Grenadines          VCT
237                   Venezuela, RB          VEN
238           Virgin Islands (U.S.)          VIR
239                         Vietnam          VNM
240                         Vanuatu          VUT
241              West Bank and Gaza          PSE
242                           World          WLD
243                           Samoa          WSM
244                     Yemen, Rep.          YEM
245                    South Africa          ZAF
246                Congo, Dem. Rep.          COD
247                          Zambia          ZMB
248                        Zimbabwe          ZWE

[249 rows x 2 columns]

### Select rows

A few different ways:

In [103]:
data[0:2] #First and second row

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.350868,6.296125,6.049173,6.124770,5.968685,NaN,NaN,NaN,NaN,NaN

In [104]:
data[:2]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.350868,6.296125,6.049173,6.124770,5.968685,NaN,NaN,NaN,NaN,NaN

In [109]:
print(data[0:2][data.columns[0:2]])

data.iloc[[0,2]] #First and third rows

  Country Name Country Code
0        Aruba          ABW
1      Andorra          AND

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,...,0.088141,0.158962,0.249074,0.302936,0.425262,NaN,NaN,NaN,NaN,NaN

In [107]:
data[0:2]['Country Name']

0      Aruba
1    Andorra
Name: Country Name, dtype: object

#### Select the last row

In [111]:
data.iloc[-1]

Country Name                                    Zimbabwe
Country Code                                         ZWE
Indicator Name    CO2 emissions (metric tons per capita)
Indicator Code                            EN.ATM.CO2E.PC
1960                                                 NaN
1961                                                 NaN
1962                                                 NaN
1963                                                 NaN
1964                                             1.04537
1965                                             1.17918
1966                                             1.32366
1967                                             1.12296
1968                                             1.30983
1969                                             1.34045
1970                                             1.56786
1971                                             1.62332
1972                                              1.4758
1973                                             1.60897
1974                                             1.51771
1975                                             1.34847
1976                                             1.70522
1977                                             1.41314
1978                                             1.36765
1979                                               1.344
1980                                              1.3221
1981                                             1.24607
1982                                             1.11876
1983                                             1.27623
1984                                             1.16352
1985                                             1.15812
                                   ...
1987                                             1.59822
1988                                             1.63192
1989                                             1.58922
1990                                             1.47872
1991                                             1.47013
1992                                             1.53372
1993                                             1.43989
1994                                              1.5375
1995                                             1.29503
1996                                              1.2624
1997                                             1.19468
1998                                             1.16577
1999                                             1.27963
2000                                             1.11096
2001                                            0.996759
2002                                            0.940195
2003                                            0.831911
2004                                            0.766581
2005                                            0.825218
2006                                            0.780721
2007                                            0.731867
2008                                            0.569255
2009                                            0.600521
2010                                            0.646073
2011                                            0.691698
2012                                                 NaN
2013                                                 NaN
2014                                                 NaN
2015                                                 NaN
Unnamed: 60                                          NaN
Name: 248, Length: 61, dtype: object

## Conditional Subsetting

In [112]:
# use this to get help for any command
?data.loc

Recall: there are various logical operators to create logical statements:

In [115]:
1 == 2

False

In [116]:
"Me" != "You"

True

In [117]:
1000 > 1

True

When you apply a logical statement to an array, an array of Trues/Falses are returned, with respect to the logical statement.

In [118]:
import numpy as np
my_range = np.array(range(1,100))
my_range

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [119]:
result = my_range > 50
result

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True], dtype=bool)

Then you can use the array of Trues/Falses to return *only the true values* from the original array.

In [120]:
my_range[result]

array([51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

#### Select rows based on a condition

In [121]:
data['Country Name']

0                               Aruba
1                             Andorra
2                         Afghanistan
3                              Angola
4                             Albania
5                          Arab World
6                United Arab Emirates
7                           Argentina
8                             Armenia
9                      American Samoa
10                Antigua and Barbuda
11                          Australia
12                            Austria
13                         Azerbaijan
14                            Burundi
15                            Belgium
16                              Benin
17                       Burkina Faso
18                         Bangladesh
19                           Bulgaria
20                            Bahrain
21                       Bahamas, The
22             Bosnia and Herzegovina
23                            Belarus
24                             Belize
25                            Bermuda
26                            Bolivia
27                             Brazil
28                           Barbados
29                  Brunei Darussalam
                    ...
219                          Thailand
220                        Tajikistan
221                      Turkmenistan
222                       Timor-Leste
223                             Tonga
224               Trinidad and Tobago
225                           Tunisia
226                            Turkey
227                            Tuvalu
228                     Taiwan, China
229                          Tanzania
230                            Uganda
231                           Ukraine
232               Upper middle income
233                           Uruguay
234                     United States
235                        Uzbekistan
236    St. Vincent and the Grenadines
237                     Venezuela, RB
238             Virgin Islands (U.S.)
239                           Vietnam
240                           Vanuatu
241                West Bank and Gaza
242                             World
243                             Samoa
244                       Yemen, Rep.
245                      South Africa
246                  Congo, Dem. Rep.
247                            Zambia
248                          Zimbabwe
Name: Country Name, Length: 249, dtype: object

In [122]:
#Data where the country name is Albania. Returns True/False
data['Country Name'] == 'Albania'

0      False
1      False
2      False
3      False
4       True
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
219    False
220    False
221    False
222    False
223    False
224    False
225    False
226    False
227    False
228    False
229    False
230    False
231    False
232    False
233    False
234    False
235    False
236    False
237    False
238    False
239    False
240    False
241    False
242    False
243    False
244    False
245    False
246    False
247    False
248    False
Name: Country Name, Length: 249, dtype: bool

In [123]:
data[data['Country Code'] == 'CHN'] #Subset based on condition

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
38,China,CHN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.170381,0.836047,0.661428,0.640002,0.625646,0.665524,...,5.153564,5.311152,5.778143,6.172489,6.710302,NaN,NaN,NaN,NaN,NaN

#### Select rows based on multiple conditions

In [124]:
data[(data['Country Name'] == 'China') & (data['Country Code'] == 'CHN')]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
38,China,CHN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.170381,0.836047,0.661428,0.640002,0.625646,0.665524,...,5.153564,5.311152,5.778143,6.172489,6.710302,NaN,NaN,NaN,NaN,NaN

#### Why does the following return no hits?

In [128]:
data[(data['Country Name'] == 'Canada') & (data['Country Code'] == 'CHN')]
data[(data['Country Name'] == 'Canada') | (data['Country Code'] == 'CHN')]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
33,Canada,CAN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,10.770847,10.627898,11.130627,11.132102,12.305370,12.814001,...,17.051900,16.366165,15.089098,14.589054,14.135813,NaN,NaN,NaN,NaN,NaN
38,China,CHN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.170381,0.836047,0.661428,0.640002,0.625646,0.665524,...,5.153564,5.311152,5.778143,6.172489,6.710302,NaN,NaN,NaN,NaN,NaN

### Select data by row and column

What does the following do?

In [130]:
data[['Country Name', 'Country Code', '2010']][16:21]

    Country Name Country Code       2010
16         Benin          BEN   0.541771
17  Burkina Faso          BFA   0.107673
18    Bangladesh          BGD   0.370360
19      Bulgaria          BGR   5.966884
20       Bahrain          BHR  18.435025

<hr>

## Review Question

### <span style="color: red">YOUR TURN:</span> 
<h3>Find the CO2 Emission per capita for France and Germany in 2010 and 2011</h3>

Your output should look like:

<img src = https://ibm.box.com/shared/static/23drzeu5h2uydwhb0un9qa4jq9yzrjbi.png, width = 300>

In [ ]:
#hint
# data['Country Name']== ??
# data[['Country Name', '2010', '2011']].iloc[[??,??]]

In [157]:
## YOUR CODE BELOW

data[['Country Name', '2010', '2011']][52:74]
data[(data['Country Name'] == 'France') | (data['Country Name'] == 'Germany')][['Country Name','2010','2011']]

data[data['Country Name'].isin(['France', 'Germany'])][['Country Name','2010','2011']]

# note 'in' is bad for performance

   Country Name      2010      2011
52      Germany  9.179817  8.917833
73       France  5.496707  5.185043

## Want to learn more?

You can take free [Python 101](https://cocl.us/DX0108EN_PY0101EN) or [Data Analysis with Python](https://cocl.us/DX0108EN_DA0101EN) courses.  

Also, you can use Data Science Experience to run these notebooks faster with bigger datasets. Data Science Experience is IBM's leading cloud solution for data scientists, built by data scientists. With Jupyter notebooks, RStudio, Apache Spark and popular libraries pre-packaged in the cloud, DSX enables data scientists to collaborate on their projects without having to install anything. Join the fast-growing community of DSX users today with a free account at [Data Science Experience](https://cocl.us/DX0108EN_DSX).

<hr>
Copyright &copy; 2017 [Cognitive Class](https://cognitiveclass.ai/?utm_source=cccopyrightlink&utm_medium=cclabs). This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/).


<h3>Authors:</h3>
<article class="teacher">
<div class="teacher-image" style="    float: left;
    width: 115px;
    height: 115px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    padding: 3px;
    border-radius: 3px;
    text-align: center;"><img class="alignnone wp-image-2258 " src="https://ibm.box.com/shared/static/tyd41rlrnmfrrk78jx521eb73fljwvv0.jpg" alt="Saeed Aghabozorgi" width="178" height="178" /></div>
<h4>Saeed Aghabozorgi</h4>
<p><a href="https://ca.linkedin.com/in/saeedaghabozorgi">Saeed Aghabozorgi</a>, PhD is a Data Scientist in IBM with a track record of developing enterprise level applications that substantially increases clients’ ability to turn data into actionable knowledge. He is a researcher in data mining field and expert in developing advanced analytic methods like machine learning and statistical modelling on large datasets.</p>
</article>
<br>
<article class="teacher">
<div class="teacher-image" style="    float: left;
    width: 115px;
    height: 115px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    padding: 3px;
    border-radius: 3px;
    text-align: center;"><img class="alignnone size-medium wp-image-2177" src="https://ibm.box.com/shared/static/2ygdi03ahcr97df2ofrr6cf8knq4kodd.jpg" alt="Polong Lin" width="300" height="300" /></div>
<h4>Polong Lin</h4>
<p>
<a href="https://ca.linkedin.com/in/polonglin">Polong Lin</a> is a Data Scientist and Lead Data Science Advocate at IBM. Polong is a regular speaker in conferences and meetups where he teaches data science. Polong holds a M.Sc. in Cognitive Psychology.</p>
</article>